@charset "UTF-8";

:root {
   --cor0: #c5ebd6;
   --cor1: #83e1ad;
   --cor2: #3ddc84;
   --cor3: #2fa866;
   --cor4: #1a5c37;
   --cor5: #174E30;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque: 'Bebas Neue', 'cursive';
   --fonte-android: 'Idroid', 'cursive';

}

@font-face {
        font-family: "Idroid";
        src: url("pacote-projeto-d010/fontes/IDroid.otf") format("opentype");
        font-weight: normal;
        font-style: normal;
    }

     body{
        font-family: var(--fonte-padrao);
        background-color: var(--cor1);
        margin: 0px;
     }

     p {
      text-indent: 25px;
      line-height: 2em;
      text-align: justify;
     }

     #cabecalhoh1{
        font-family: var(--fonte-destaque);
        font-weight: normal;
        font-size: 3em;
        text-align: center;
        color: white;
        text-shadow:2px 2px 5px black;
        margin-bottom: 5px;
        margin-top: 0px;
     }

     #cabecalhoh2{
        text-align: center;
        color: rgba(255, 255, 255, 0.67);
        font-size: 1.2em;
        margin-top: 1px;
        margin: auto;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.657);
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        max-width: 500px;
     }

     header {
        background-image: linear-gradient(to bottom,#84E1AD, #174E30 90%);
        box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.671);
        min-height: 150px;
        padding-top: 30px;
     }

     nav {
      background-color: var(--cor5);
      box-shadow: 0px 20px 7px rgba(0, 0, 0, 0.151);
      margin: -1px;
     }

     main {
        min-width: 300px;
        max-width: 1000px;
        background-color: white;
        margin: auto;
        border: 15px solid white;
        box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.484);
        border-radius: 0px 0px 10px 10px;;
     }

     main > picture > img {
      width: 100%;
     }


     main img.pequena {
      max-width: 350px;
      display: block;
      margin: auto;
     }


     #mainh1 {
        font-family: var(--fonte-android);
        margin-top: 5px;
        font-weight: normal;
        font-size: 2em;
        color: #125330;
     }


      main strong{
         color: var(--cor4);
         background-color: var(--cor1);
         padding: 2px 6px;
      }

     nav a{
        color: white;
        font-weight: bold;
        font-size: 1em;
        padding: 5px 10px 1px 10px;
        margin: 0px;
        outline: 0px;
        border-radius: 7px 7px 0px 0px;
        text-decoration: none;
        transition: background-color 0.3s, box-shadow 0.3s;
     }

     nav a:hover {
        background-color: var(--cor3);
        box-shadow: 1px 0px 4px #1f3328c5;
        text-decoration: none;
     }

     #home {
        margin-left: 4px;
     }

     .principal {
        font-family: var(--fonte-android);
        font-weight: normal;
        padding-left: 8px;
        background-image: linear-gradient(to right, #97f6c0, white);
        color: #125330;
     }

     div.video {
      background-color: var(--cor5);
      margin: 0px -14px 30px -14px;
      position: relative;
      padding: 20px;
      padding-bottom: 50%;
     }

     div.video > iframe {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
     }

      main aside {
        max-width: 1000px;
        min-width: 300px;
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);
      }

      aside > h3 {
         background-color: var(--cor4);
         margin: -10px -10px 0px -10px;
         padding: 5px;
         border-radius: 10px 10px 0px 0px;
         color: white;
         box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.432);
      }

      ul{
         list-style-type: '\2714\00A0\00A0';
         padding: 0px;
         list-style-position: inside;
         columns: 2;
      }
     


     a {
      text-decoration: none;
      font-weight: bold;
      color: var(--cor4);
     }

     a:hover {
      text-decoration: underline;
     }

     footer {
      background-color: var(--cor5);
      color: white;
     }

     footer p{
      margin: 16px 0px 0px 0px;
      text-align: center;
      font-size: 0.8em;
     }

     footer strong{
      color: var(--cor1);
     }